<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.bigdata.mapper.DiseaseMapper">

<select id="search_disease" resultType="com.smhrd.bigdata.entity.Disease">select * from t_disease where dis_part = #{dis_part} and dis_symptom = #{dis_symptom}</select>

</mapper>